<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="grid w-[400px] mx-auto grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
  >
    <div class="flex flex-column gap-2">
      <label for="email">Email</label>
      <input pInputText id="username" formControlName="email" />
      <!-- <small>
        Enter your username to reset your password.
    </small> -->
    </div>
    <!-- <div class="flex flex-column gap-2">
      <label for="password">Password</label>
      <p-password formControlName="password" />
    </div> -->

    <!-- <button
      type="submit"
      class="w-[400px] flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      LOGIN
    </button>
    <a class="inline-block" [routerLink]="['/register']">Đăng kí</a> -->
  </div>
</form>
